
<div class="bodyclassC">
    <div style="  position: fixed; /* or absolute */
        top: 20%; width: 100%; text-align: center; ">
        <div style="width: 100px; margin: auto; padding-bottom: 50px;">
            <img src="./assets/logo/baybncoloredwhite.png" style="width: 100px; border-radius: 50%;" alt="">
        </div>

        <div>
            <div>
                <button mat-stroked-button routerLink="/signup" class="globalbuttondefault4 buttoncurve">Sign up</button>   
            </div>
            <div>
                <button mat-stroked-button routerLink="/login" class="globalbuttondefault2 buttoncurve">Login</button>
            </div>
            <div>
                <button mat-button routerLink="/help" style="color: #eee;">How can I <span style="color: #fe2c55;">help</span> you?</button>
            </div>

        </div>

        
    </div>
</div>