/* // mat-icon-stepper selected color change  */
::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: blue !important;
}

/* //input outline color {{MAIN BORDER COLOR ASIN BEFORE CLICKED}}*/
/* //input outline color {{MAIN BORDER COLOR ASIN BEFORE CLICKED}}*/
/* //input outline color {{MAIN BORDER COLOR ASIN BEFORE CLICKED}}*/
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ccc !important;
  border-radius: 5px !important;
  /* // opacity: 1!important; */
}

/* //mat-input focused color {{LIKE WHEN CLICKED}}*/
/* //mat-input focused color {{LIKE WHEN CLICKED}}*/
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #aaa !important;
}

/* // mat-input error outline color */
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: rgb(8, 0, 83) !important;
  opacity: 0.8 !important;
}

/* // mat-input carent color */
::ng-deep .mat-input-element {
  caret-color: rgb(12, 161, 57) !important;
}

/* // mat-input error carent color */
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: rgb(58, 58, 58) !important;
}

/* // mat-label normal state style */
::ng-deep .mat-form-field-label {
  color: #fff !important;

  /* // color: $mainColor!important; */
}

/* // mat-label focused style */
/* ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: rgb(56, 56, 56) !important;
  border-radius: 20px;
} */

/* // mat-label error style */
/* ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: rgb(54, 54, 54) !important;
} */

::ng-deep .mat-form-field-outline-start {
  border-radius: 0px;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 5px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #000;
}
input.mat-input-element {
  color: #999;
}

.buttoncurve {
  border-radius: 8px;
  padding: 7px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  width: 200px;
  font-size: 19px;
}

.pagelabel {
  background: #444;
  width: 100px;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

.loginbgblur {
  /* The image used */

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
