
<div class="bodyclassD">

    <!-- START OF TOOL BAR -->
    <mat-toolbar style="border: none; background: transparent; ">
        <mat-toolbar-row>
            <span style=" font-size: 23px;">
               
              <button mat-stroked-button routerLink="/landingapp" style="color: #eee; font-weight: lighter; text-align: center;">
                <img src="./assets/arrowbackwhite2.png" alt="" style="width: 20px;">
            </button>
            </span>
            <!-- Demacation -->
            <div style="flex: 1 1 auto;"></div> 
          
        </mat-toolbar-row>
    </mat-toolbar>
    <!-- END OF TOOL BAR -->



    <div style="width: 70px; margin: auto; padding-block: 30px;">
        <img src="./assets/logo/baybncoloredwhite.png" style="width: 70px; border-radius: 50%;" alt="">
    </div>


    <div class="pagelabel">
        Sign up
    </div>

    <style>
        .bg-image {
          /* The image used */
          background-image: url('./assets/baybnpoker.jpg');
          
          /* Add the blur effect */
          filter: blur(10px);
          -webkit-filter: blur(10px);
          
          /* Full height */
          height: 500px; 
          
          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          border-top-right-radius: 25px;
          border-top-left-radius: 25px;
          margin-top: 20px;
        }
        
        /* Position text in the middle of the page/image */
        .bg-text {
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(65, 65, 65, 0.4); /* Black w/opacity/see-through */
          color: white;
          border: 1px solid rgba(124, 124, 124, 0.534);
          font-weight: bold;
          border-top-right-radius: 25px;
          border-top-left-radius: 25px;
          position: absolute;
          left: 50%;
          transform: translate(-50%, -100%);
          width: 100%;
          text-align: center;
          height: 520px; 
        }
    </style>
    <div class="bg-image"></div>
    <div class="bg-text">

     
        

            <div style="width: 300px; margin: auto; padding-top: 35px;">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label style="background: #000; padding: 10px; padding-block: 20px;"> Choose a Username </mat-label>
                        <input matInput type="text"   >
                    </mat-form-field>        
                </div>
    
          
                <div>
                    <button mat-stroked-button routerLink="/signup" class="globalbuttondefault4 buttoncurve" (click)="signupbtn()">Continue</button>   
                </div>      
                <div>
                    <button mat-button routerLink="/login" style="color: #eee; font-weight: lighter; text-align: center; width: 100%;">
                        You have an account? Please <b><span style="color: #fe2c55;">Login</span></b>
                    </button>
                </div>
            </div>
            

    </div>




    
    <!-- <section class="loginbgblur" style="background-image: url('./assets/logo/loginbgblur.jpg');">
        
    </section> -->

</div>