<div class="splashscreen">
    <div style="  position: fixed; /* or absolute */
    top: 20%; width: 100%; text-align: center; ">


    
        <div style="width: 200px; margin: auto; ">
            <img src="./assets/logo/baybnlogoWhiteBlack.png" style="width: 200px; border-radius: 50%;" alt="">
        </div>
        

    


        <div style="text-align: center; padding-top: 10px;">
            <div style="margin: auto; text-align: center; width: 30px;">
                <div class="uploader-status">
                    <mat-spinner [diameter]="30" ></mat-spinner>
                </div>
            </div>
        </div>






    
    </div>

    <div style=" text-align: center;
                    bottom: 0px; 
                    width: 100%; 
                    position: fixed; padding-bottom: 10px; 
                    ">
        <div style="color: #fff; font-size: 20px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
            BayBn
        </div>
    
    </div>

</div>